.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .company-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    mat-card {
      margin: 5px;
      cursor: pointer;

      mat-card-title {
        text-align: center;
      }
    }
  }
}
