<div class="container" fxLayout="column" style="text-align: center" fxLayoutAlign="end">
  <p>
    Have you finally just gave in to the temptation and read your horoscope in the newspaper on Sunday morning?
  </p>
  <div class="button-container" fxLayout="column" fxLayoutAlign="space-between">
    <button disabled="true" mat-flat-button color="primary">ACTIVATE MEMBERSHIP</button>
    <button disabled="true" mat-stroked-button color="primary">BUY MEMBERSHIP</button>
    <button (click)="skip()" class="skip-button">Skip</button>
  </div>
</div>
